* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("/imges/patt.png");
}
.container{
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row{
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.col-3{
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-6{
  flex: 0 0 50%;
  max-width: 50%;
}
.col-8{
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.col-9{
  flex: 0 0 75%;
  max-width: 75%;
  
}
.col-12{
  flex: 0 0 100%;
  max-width: 100%;
}
.header{
  background-color: rgba(255, 255, 255, .75);
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.menu{
  display: flex;

}
.logo{
  margin-top: 7px;
}
.menu li{
  width: 25%;
  border-left: 1px solid #2c71b8;
}
.menu li:last-child > a{
  border-right: 1px solid #2c71b8;
}
.menu a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  text-decoration: none;
  font-size: 21px;
  color: #2c71b8;
}
.menu a:hover{
background-color: #2c71b8;
color: white;
}

 /* drop products*/

.product{
position: relative;
display: inline-block;
}
.product-dropdown{
  position: absolute;
  top: 75px;
  display: none;
  margin-left: -1px;
}
li:hover .product-dropdown {
  display: block;
  
}
.product-dropdown a{
  background-color: #2c71b8;
  color: #fff;
  width: 285px;
}
.product-dropdown a:hover{
  background-color: white;
  color: #2c71b8;
}

/* end of the dropdown */

/* search */

.d-flex{
  display: flex;
}
.search{
  display: flex;
  margin-top: 5px;
  color: #2c71b8;
  border: 1px solid #2c71b8;
  width: 200px;
  height: 40px;
  
}
.srch{
  border: none;
  width: 165px;
  height: 40px;
  outline: none;
  background: transparent;
  
}
.srch::placeholder{
  color: #2c71b8;
  font-size: 21px;
  font-family: 'Roboto', sans-serif;
  
  
}
.btn{
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background-color: #2c71b8;
  border: none;
}
.cart{
  display: flex;
  margin-top: 5px;
 
}
.btnCart{
  width: 40px;
  height: 40px;
  border: none;
  margin-left: 30px;
  
}
.cart {
  position: relative;
  background-image: url(imges/icon\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 0px;
  margin-left: 30px;
}
#products-count {
  position: absolute;
  top:-10px;
  left: -40px;
  width: 20px;
  height: 20px;
  background-color: #2c71b8;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  line-height: 20px;
  color:white;}

  /* end of the search & cart section */

/* slider */
  .slider {
    /* height: 400px; */
    border-bottom: 1px solid #fff;
  }
  /* breadcrumbs */
  .breadcrumbs{
    padding: 15px;
  }
  .breadcrumbs a{
    padding: 5px;
    color: #96b8dc;
  }
.bread-list{
  display: flex;
  
  
}

  /* filter */
  .filter-device{
    background-color:#ffffff4f;
    border-right: 1px solid #fff;
    height: 843px;
  }
  label{
    display: block;
    position: relative;
  }
  .checkbox-device-type, .checkbox-device-color, .checkbox-device-ram{
    padding-left: 20px;
    color: #fff;
    font-size: 21px;
    line-height: 40px;
    
  }
  label::before {
    content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    margin-right: 10px;
  }
  

  
  input[type="checkbox"]{
    display: none;
    
  }
  input[type="checkbox"]:checked + label::before{
    background-color: #fff;
  }
  .device-type, .device-color, .device-ram{
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    font-size: 21px;
    padding: 20px;
    text-transform: uppercase;
  }

  .show-more-options{
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 21px;
    line-height: 50px;
    margin-left: 10px;
  }
  .btn-device-submit{
    padding: 30px;
  }
  .btn-device-submit-btn{
    width: 210px;
height: 50px;
background-color: #2c71b8;
border: 1px solid #ffffff;
color: #fff;
font-size: 21px;
text-transform: uppercase;

  }


/* end filter */
.laptop-text{
  padding: 15px;
  font-size: 48px;
line-height: 40px;
color: #ffffff;
font-weight: 700;
font-family: "Roboto";
}
  /* sort dropdown */

  .sort-dropdown{
    position: relative;
    display: inline-block;
    padding-top: 10px;
  }
  
  .sort-by-price{
    padding-left: 20px;
    border: 1px solid #fff ;
    width: 270px;
    background-color: #2c71b8;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 40px;
  }
  .sort-menu-dropdown-list{
    position: absolute;
    display: none;
    width: 270px;
    background-color: #2b71b8;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    line-height: 40px;
    border: 1px solid #fff;
  }
  .sort-menu-dropdown-list li{
    padding-left: 20px;
    
  }
.sort-menu-dropdown li:hover{
  background-color: #fff;
  color: #2c71b8;
  

}
.sort-menu-dropdown:hover .sort-menu-dropdown-list{
  display: block;
  z-index: 10;
}

/* end sort */

/* product 1  */

.product-img{
  position: relative;
  display: flex;
  justify-content: center;
  opacity: 0.749;
width: 270px;
height: 180px;
background-color: rgba(255,255,255,0.7490196078431373);

}
.img-monitor{
  margin-top: 45px;
  width: 102px;
  height: 89px;
}
.zoom{
  position: absolute;
  top: 5%;
  left: 85%;
}
.like{
  position: absolute;
  top: 25%;
  left: 85%;
}
.btn-zoom, .btn-like{
  width: 30px;
  height: 30px;
  border: 1px solid #2b71b8;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.btn-zoom{
  background-image: url(imges/icon\ \(8\).png);
  
}
.btn-zoom:hover{
  background-image: url(imges/icon\ \(6\).png);
background-color: #2b71b8;
}
.click{
  background-image: url(imges/icon\ \(7\).png);
}
.btn-like{
  background-image: url(imges/icon\ \(5\).png);
}
.btn-like:hover, .liked{
  background-image: url(imges/icon\ \(7\).png);
  background-color: #2b71b8;
}
.btn-like-clicked{
  background-image: url(imges/icon\ \(7\).png);
  background-color: #2b71b8;
}
.product-text{
  width: 270px;
height: 473px;
border: 1px solid #ffffff;
background-color: #2b72b8c1;

}
span{
  text-transform: uppercase;
  font-weight: 700;
}
.product-title{
  
  font-size: 30px;
color: #ffffff;
font-weight: 700;
font-family: 'Roboto', sans-serif;
margin: 10px;
}

.product-disc, .product, .product-features, .product-price{
  width: 220px;
  font-size: 21px;
  color: #ffffff;
  font-weight: 300;
  margin: 15px;
}

.product-price{
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}
.product-btn-details, .product-btn-cart{
  display: flex;
  justify-content: center;
}
.btn-more-details, .btn-add-to-cart{
  width: 210px;
  height: 50px;
  border: 1px solid #fff;
  font-size: 21px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 10px;
  
}

.btn-add-to-cart:hover{
  border: none;
  background-color: #ffffff65;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 100;
  display: none
}
.modal-block {
  width: 300px;
  height: 200px;
  background-color: white;
  margin: 80px auto;
  padding: 15px;
  text-align: center;
}
.form-field {
  margin-bottom: 15px;
}
.form-field input {
  width: 100%;
  height: 30px;
}
.modal-block h3 {
  margin-bottom: 15px;
}
.btn-wrap {
  display: flex;
  justify-content: flex-end;
}
.btn-close {cursor: pointer;
}
.show {
  display: block;
}
.hide {
  display: none;
}
.slider-block > div {
  text-align: center;
  font-size: 50px;
  padding: 150px 0;
  color: #fff;
}
.slick-dots li button:before{
font-size: 10px;
border: 1px solid #fff;
content: "";
opacity: 1;

}
.slick-dots li.slick-active button:before{
  background-color: #fff;
  opacity: 1;
  
}
.slick-dots li{
padding: 30px;
}
.slick-prev:before {
  content: "";
  background-image: url(imges/arrow-left-.png);
  width: 50px;
  height: 50px;
  display: block;
}
.slick-next:before{
  content: "";
  background-image: url(imges/next.png);
  width: 50px;
  height: 50px;
  display: block;
}